.textbook-container {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 5px red;
  position: absolute;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
}

.profile-pic:hover {
  cursor: pointer;
}

.search {
  height: 20vh;
  max-width: 40%;
  padding-top: 20px;
  position: relative;
}

.dropdown {
  height: 7vh;
}

.search_dropdown {
  height: 20vh;
  max-width: 40%;
  padding-top: 20px;
  position: relative;
}

.searchbar {
  display: flex;
  align-items: baseline;
  position: relative;
  margin-left: 15%;
}

.search-button {
  height: 7vh;
}
