img {
    max-width: 100%;
    max-height: auto;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
    padding: 5%;
}

.side-tab {
    background-color:#8B1911;
    box-shadow: 0px 0px 20px #707070;
    height: 100%;
    width: 10vw;
    justify-self: center;
    position: absolute;
    align-content: center;
    padding-top: 1%;
    color: white;
  }

.side-list {
    height: auto;
    width: 10vw;
    position: relative;
    left: 1%;
    padding-top: 20px;
    border-radius: 15px;
    display: inline-grid;
    grid-template-rows: auto;
}