img {
  min-width: auto;
  min-height: auto;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
  padding: 5%;
}

.side-tab {
  background-color: #8b1911;
  box-shadow: 0px 0px 20px #707070;
  min-height: 100vh;
  height: 100%;
  width: 10vw;
  justify-self: center;
  position: absolute;
  align-content: center;
  padding-top: 1%;
  color: white;
}

.side-list {
  height: auto;
  width: 100%;
  position: relative;
  margin-top: 20px;
  border-radius: 15px;
  display: inline-grid;
  grid-template-rows: auto;
}
