.swap-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

/*CSS for search tab */
.search {
  height: 40px;
  position: relative;
  top: 20px;
  margin-bottom: 20px;
  left: 12.5vw;
  right: 2.5vw;
  width: 85vw;
}

#search-input {
  height: 100%;
  width: 62.5vw;
}

#search-img {
  width: 2.5vw; 
  height: 100%;
}

#sort {
  height: 100%;
  width: 10vw;
}

#filter {
  height: 100%;
  width: 10vw;
}

/*CSS for cards*/
.content {
  width: 85vw;
  height: 100px;
  top: 20px;
  margin-bottom: 20px;
  left: 12.5vw;
  right: 2.5vw;
  position: relative;
  background-color: gray;
}

#user {
  width: 25%;
  height: 20%;
  position: absolute;
  background-color: red;
}

#gap {
  width: 55%;
  height: 20%;
  left: 25%;
  position: absolute;
  background-color: white;
}

#tabs {
  width: 20%;
  height: 20%;
  position: absolute;
  background-color: greenyellow;
  text-align: right;
  right: 0;
}

.tab-links {
  width: 50%;
  position: relative;
  background-color: orange;
}

#name {
  top: 20%;
  width: 60%;
  height: 40%;
  position: absolute;
  background-color: blue;
}

#instructor {
  top: 20%;
  left: 60%;
  width: 20%;
  height: 40%;
  position: absolute;
  background-color: greenyellow;
}

#crn {
  bottom: 0%;
  left: 80%;
  width: 5%;
  height: 40%;
  position: absolute;
  background-color: purple;
}

#time {
  top: 60%;
  width: 60%;
  height: 40%;
  position: absolute;
  background-color: pink;
}

#location {
  top: 60%;
  width: 20%;
  left: 60%;
  height: 40%;
  position: absolute;
  background-color: magenta;
}

#option {
  top: 40%;
  right: 2.5%;
  width: 10%;
  height: 40%;
  position: absolute;
  background-color: white;
}