.container {
  height: 100vh;
  width: 100hh;
}

.side-tab-container {
  border: solid;
  height: 100vh;
  background-color: #8b1911;
  padding: 2.5%;
}

.parking-pass-list-container {
  border: solid;
  height: 100vh;
  padding-top: 2%;
}

.parking-pass-list {
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.parking-pass {
}
